<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alex.mybatis.mapper.PlayerMapper">
    <resultMap id="playerMap" type="Player">
        <id column="id" property="id"/>
        <result column="account_number" property="accountNumber"/>
        <result column="account_name" property="accountName"/>
        <result column="password" property="password"/>
    </resultMap>

    <insert id="insertPlayer">
        INSERT INTO player (account_name, password, account_number) VALUES('alex-tami', '123412', '231412@gmail.com')
    </insert>

    <select id="selectPlayer" resultMap="playerMap">
        SELECT * FROM player WHERE id = #{id}
    </select>

<!--    int updatePlayerNameById(Integer id);-->
    <update id="updatePlayerNameById">
        UPDATE player SET account_name = #{newName} WHERE id = #{id}
    </update>
</mapper>